__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.gitignore
*.Dockerfile
.dockerignore
scrapy
README.md
TODO.md
database/foerderschema_datamodeler
database/foerderschema_datamodeler.dmd
database/.gitignore
example.env
