# settings for email logging, if one of them is empty, mail logging is disabled
LOGGING_EMAIL_USERNAME=yourlogin@gmail.com
LOGGING_EMAIL_PASSWORD=
LOGGING_EMAIL_SMTP_SERVER=smtp.gmail.com
LOGGING_EMAIL_SMTP_PORT=587
LOGGING_EMAIL_RECEIVER=yourreceiveradress@domain.com
LOGGING_EMAIL_SENDER=yoursenderadress@domain.com

# settings for the database
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_PORT_EXT=54321
POSTGRES_HOST=db
POSTGRES_HOST_EXT=localhost

# settings for adminer
ADMINER_PORT_EXT=8081

# specific settings for bmbf-foekat
CRON_TIME_FOEKAT="0 2 * * *"
# these arguments get appended to foekat_farmer.py (as an array, not a single string of course)
CRON_ARGS_FOEKAT="-path /opt/app/bmbf-foekat/csv-files/"
